{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container">
        <h2>Checkout</h2>
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-page-heading mb-30">
                        <h5>Billing Address</h5>
                    </div>
 
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="street_address">Address <span>*</span></label>
                                {{ form.street_address  }}
                                <!-- <input type="text" class="form-control mb-3" id="street_address" value=""> -->
                            </div>
                            <div class="col-12 mb-3">
                                <label for="apartment_address">Apartment Address</label>
                                {{ form.apartment_address }}
                                <!-- <input type="text" class="form-control mb-3" id="apartment_address" value=""> -->
                            </div>
                            <div class="col-12 mb-3">
                                <label for="country">Country <span>*</span></label><br>
                                {{ form.country }}
                             
                            </div>
                            <div class="col-12 mb-3">
                                <label for="zip">ZIP <span>*</span></label>
                                {{ form.zip  }}
                                <!-- <input type="text" class="form-control mb-3" id="street_address" value=""> -->
                            </div>
                            <div class="col-12 mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input {% if form.same_billing_address.value %} checked {% endif %} type="checkbox" class="custom-control-input" id="same-address" name="same-address">
                                    <label class="custom-control-label" for="same-address">Same shipping address</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input {% if form.save_info.value %} checked {% endif %} type="checkbox" class="custom-control-input" id="save-info" name="save-info">
                                    <label class="custom-control-label" for="save-info">Save this info for later</label>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label>Payment Method</label>
                                {% for value, name in form.fields.payment_option.choices %}
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="payment_option" value="{{ value }}" class="custom-control-input" required id="{{ name }}">
                                    <label class="custom-control-label" for="{{ name }}"> {{ name }} </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-primary btn-lg btn-block mb-5" type="submit">Continue to checkout</button>
                    </form>
                </div>
            </div>

            {% include "order_snippet.html" %}

        </div>
    </div>

{% endblock content %}    
